<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">

</head>

<body>
  <div class="wrapper">
    <header>
        <p class="blog-title">&lt; TECHNIC<em>ALLY</em> &gt;</p>
        <p class="blog-subtitle"> a tech blog for the lgbtq+ community</p>
    <nav>
    {{#if loggedIn}}
    <a href="/" class="homepage">Homepage</a>
    <a href="/dashboard">Dashboard</a>
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/" class="homepage">Homepage</a>
    <a href="/login">Login</a>
    {{/if}}
    </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

</body>

</html>